:root {
    --c-primary-red: hsl(0, 100%, 66%);
    --c-primary-linear-gradiant-from: hsl(249, 99%, 64%);
    --c-primary-linear-gradiant-to: hsl(278, 94%, 30%);
    --c-neutral: hsl(0, 0%, 100%);
    --c-neutral-lgv: hsl(270, 3%, 87%);
    --c-neutral-dgv: hsl(279, 6%, 55%);
    --c-neutral-vdv: hsl(278, 68%, 11%);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

/* INPUT COMPONENT */

.input__label {
    font-size:13px;
    display:block;
    text-transform:uppercase;
    margin-block-end: 8px;
}

.input__bar {
    width:100%;
    display:block;
    padding:14px 10px;
    border: 1px solid var(--c-neutral-lgv);
    border-radius: 6px;
    margin-block-end: 6px;
}

.input__bar::placeholder, .input__bar {
    font-size:16px;
}

.input__bar::placeholder {
    color:var(--c-neutral-dgv);
}

.input__bar {
    color:var(--c-neutral-vgv);
}

.input.input--error > .input__bar {
    border-color:var(--c-primary-red);
}

.input__message {
    visibility: hidden;
    display:block;
    font-size:12px;
    color: var(--c-primary-red);
}

.input__message::first-letter {
    text-transform: uppercase;
}

.input.input--error > .input__message {
    visibility: visible;
}

/* BUTTON */
.button {
    position:relative;
    z-index:1;
    padding: 20px;
    border-radius:8px;
    background: var(--c-neutral-vdv);
    font-size:20px;
    color:white;
    text-transform: capitalize;
}

.button::after {
    content:'';
    position:absolute;
    border-radius:inherit;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:left center;
    transform:scaleX(0);
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(to right, var(--c-primary-linear-gradiant-from), var(--c-primary-linear-gradiant-to));
}

.button:hover::after {
    transform:scaleX(1);
}

.card {
    width:76%;
    max-width:405px;
    padding: 20px;
    border-radius: 8px;
}

.card.card--front {
    background-image: url("images/bg-card-front.png");
}

.card.card--back {
    height:220px;
    background-image: url("images/bg-card-back.png");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.card__logo {
    display:flex;
    align-items: center;
    margin-block-end: 40px;
}

.card__round, .card__circle {
    display:block;
    border-radius:50%;
}

.card__round {
    width:25px;
    height:25px;
    margin-inline-end:10px;
    background-color: white;
}

.card__circle {
    width:15px;
    height:15px;
    background-color: transparent;
    border:1px solid white;
}

.card__ccn {
    display:flex;
    margin-block-end: 40px;
}

.card__ccn > span {
    color:var(--c-neutral);
    text-transform:uppercase;
    font-size:20px;
}

.card__ccn > span:not(:last-child) {
    margin-inline-end: 5px;
}

.card__footer {
    display:flex;
    justify-content: space-between;
}

.card__author {
    color:var(--c-neutral);
    text-transform:uppercase;
    font-size:15px;
}

.card__date {
    color:var(--c-neutral);
    text-transform:uppercase;
    font-size:14px;
}

@media screen and (min-width: 1051px) {
    .button {
        padding: 14px;
        border-radius:6px;
        font-size:16px;
    }

    .card {
        padding:20px 30px;
    }

    .card__ccn > span {
        letter-spacing: 3px;
        font-size:24px;
    }

    .card__ccn > span:not(:last-child) {
        margin-inline-end: 15px;
    }
}